<nav
  class="navbar navbar-expand-md navbar-light fixed-top bg-primary transparent"
  id="nav1"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img width="150" class="img-fluid" src="white-text-side-logo-tiny.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Дім</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"
            >Сайт в розробці...</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
