<section style="padding: 1rem;"
  class="seo-intro bg-neutral-50 py-16 px-8 md:px-16  rounded-2xl shadow-sm mt-10 mx-auto max-w-4xl">
  <h4 class="text-3xl md:text-4xl font-serif font-semibold text-gray-800 mb-4 text-center">Постільна
    білизна та
    текстиль від українського виробника <br>Диво-Ранок</h4>
  <p class="text-lg text-gray-600 leading-relaxed">
    Наш інтернет-магазин пропонує екологічну, гіпоалергенну постільну білизну, скатертини, та інший текстиль.
    Також виконуємо індивідуальні замовлення (підбір тканини, нестандартні розміри, комплектування).
  </p>
</section>