<footer class="bg-dark text-light py-4">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Швидкий доступ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Дім</a></li>
          <li><a href="#about-us" class="text-light">Про нас</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <img src="white-text-side-logo-tiny.png" alt="Company Logo" class="mb-2" width="150" />
        <p>&copy; 2025. All rights reserved.</p>
      </div>
      <div class="col-md-4">
        <h5>Зв'яжіться з нами</h5>
        <ul class="list-unstyled">
          <li>
            <div class="flex gap-4">
              <a href="https://www.facebook.com/profile.php?id=61570456394519" target="_blank" rel="noopener noreferrer"
                aria-label="Facebook" class="text-white hover:text-blue-500 transition text-xl p-3">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://www.instagram.com/miracle_morning_textile/" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram" class="text-white hover:text-pink-400 transition text-xl">
                <i class="bi bi-instagram"></i>
              </a>
            </div>
          </li>
          <li>
            Email:
            <a href="mailto:dyvoranok&#64;gmail.com" class="text-light">dyvoranok&#64;gmail.com</a>
          </li>
          <li>
            Phone:
            <a href="tel:+380934330655" class="text-light">+38 093 433-06-55</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>